body {
  margin: 0;
  padding: 0;
  background: #ddd;
  color: #333;
}

.app {
  width: 100vw;
  height: 100vh;
  display: grid;
}

.app__controls {
  margin: auto;
  background: #ffffff88;
  padding: 2rem;
}

.app__input input {
  display: block;
}
