body {
  margin: 0;
  padding: 0;
  color: #333;
}

.app {
  width: 100vw;
  height: 100vh;
  display: grid;
  font-family: 'Roboto Condensed', sans-serif;
}

.app__container {
  margin: auto;
  background: #ffffff88;
  padding: 2rem;
}

.app__input {
  margin: 1rem;
}

.app__output {
  margin: 1rem;
  line-height: 1.5;
}

.app__input input {
  display: block;
  margin-bottom: 0.5rem;
}

.app__swatch {
  margin: 1rem auto;
  width: 6rem;
  height: 6rem;
  border: 2px solid #333;
}
